<div class="page-container">
  <div class="page-container__first">

    <h1 class="page-heading">Matches</h1>
    
    <div class="center-cta">
      <div class="center-cta__container">
        <a [routerLink]="['create']" class="button button--primary button--medium button--rounded">create match</a>              
      </div>
    </div>

    <!--<div class="mainNoItemContainer">
      <div class="mainNoItemContainer mainNoItemContainer__noItemContainer">
        <h2>No matches found</h2>
      </div>
    </div>-->

    <div class="match">
      <a [routerLink]="['1']" class="match__container">
        <div class="match__date">01-01-2016, 11:30AM</div>
        <div class="match__result">
          <p>Rookie XI won by 3 wickets</p>
        </div>
        <div class="match__teams-container">
          <div class="match__my-team">
            <img class="match__team-logo match--won" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Rookie XI</div>
          </div>
          <div class="match__vs">VS</div>
          <div class="match__op-team">
            <img class="match__team-logo match--lost" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Tormentors XI</div>
          </div>
        </div>
      </a>
    </div>

    <div class="match">
      <a [routerLink]="['1']" class="match__container">
        <div class="match__date">01-01-2016, 11:30AM</div>
        <div class="match__result">
          <p>Rookie XI won by 3 wickets</p>
        </div>
        <div class="match__teams-container">
          <div class="match__my-team">
            <img class="match__team-logo match--won" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Rookie XI</div>
          </div>
          <div class="match__vs">VS</div>
          <div class="match__op-team">
            <img class="match__team-logo match--lost" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Tormentors XI</div>
          </div>
        </div>
      </a>
    </div>

    <div class="match">
      <a [routerLink]="['1']" class="match__container">
        <div class="match__date">01-01-2016, 11:30AM</div>
        <div class="match__result">
          <p>Rookie XI won by 3 wickets</p>
        </div>
        <div class="match__teams-container">
          <div class="match__my-team">
            <img class="match__team-logo match--won" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Rookie XI</div>
          </div>
          <div class="match__vs">VS</div>
          <div class="match__op-team">
            <img class="match__team-logo match--lost" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Tormentors XI</div>
          </div>
        </div>
      </a>
    </div>

  </div>
  
  <router-outlet></router-outlet>
</div>