* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

ul {
    margin: 0;
    padding: 0;
}



html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
    background-color: $color-primary-light;
}

a, button {
    cursor: pointer;
}

.container {
    padding: 1rem;
}