<div class="page-container__other my-profile">
  <div class="page-container__subheader">
    <h1 class="page-heading">My Profile</h1>
  </div>

  <div class="page-container__content">

    <div class="players__info-container">
      <img src="assets/players/jatinder.jpg" alt="manoj">
      
      <div class="players__info-container__info">
        <h1>{{profile?.firstName || '...'}}&nbsp;{{profile?.lastName || '...'}}</h1>  
        <div class="players__info-container__labels">
          <label class="label label--info">opening batsman</label> 
          <label class="label label--info">right handed batsman</label> 
          <label class="label label--info">right handed bowler</label>
          <label class="label label--warning">leg break</label>
        </div>  
        <button (click)="onLogout()" class="button button--danger button--medium button--rounded button--lift">Logout</button>
      </div>

    </div>
    <div class="players__info-container"> 
      <div class="players__info-container__info players__info-container__info--pinfo">
        <h2>Personal Information</h2>  
        <div class="form__group">
          <div class="form__label">mobile</div>
          <div class="form__input">{{profile?.user?.mobile || '...'}}</div>
        </div>
        <!--<div class="form__group">
          <div class="form__label">email</div>
          <div class="form__input">
            <span *ngIf="myUserData.email">{{myUserData?.profile?.email}}</span>
            <span *ngIf="!myUserData.email">not linked</span>
          </div>
        </div>-->
        <div class="form__group">
          <div class="form__label">date of birth</div>
          <div class="form__input">
            {{profile?.dob || 'not mentioned'}}
            <!--<span *ngIf="myUserData.dob">{{myUserData.profile.dob || ''}}</span>
            <span *ngIf="!myUserData.dob">not mentioned</span>-->
          </div>
        </div>
      </div>
    </div>

    <div class="players__info-container players__info-container--small"> 
      <a [routerLink]="['edit']" class="button button--warning">Edit Profile</a>
      <br><br>
      <button class="button button--danger button-rounded">delete account</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>