<div class="page-container__other match-detail">
  <div class="page-container__subheader">
    <h1 class="page-heading">Match detail</h1>

    <a (click)="prevUrlService.redirectToPrevUrl()" class="page-container__back button button--secondary button--back button--lift">&lsaquo;</a>
  </div>

  <div class="page-container__content">
    <div class="match">
      <div class="match__container">
        <div class="match__date">01-01-2016, 11:30AM</div> 
        <div class="match__result">
          <p>Rookie XI won by 3 wickets</p>
        </div>
        <div class="match__teams-container">
          <div class="match__my-team">
            <img class="match__team-logo match--won" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Rookie XI</div>
          </div>
          <div class="match__vs">VS</div>
          <div class="match__op-team">
            <img class="match__team-logo match--lost" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Tormentors XI</div>
          </div>
        </div>
      </div>
    </div>

    <div class="match__stats">
      <h1 class="match__stats__title">scorecard</h1>
      <div class="match__innings">
        <h2 class="match__innings__title">rookie xi</h2>
        <div class="table">
          <div class="table__head">
            <div class="table__row">
              <div class="table__column">batsmen</div>
              <div class="table__column">r</div>
              <div class="table__column">b</div>
              <div class="table__column">4s</div>
              <div class="table__column">6s</div>
              <div class="table__column">sr</div>
            </div>
          </div>
          <div class="table__body">
            <div class="table__row">
              <div class="table__column">
                <div>K Nailwal</div>
                <div class="table__row">
                  <div class="match__innings__commentary">c S Sharma, b J Archer</div>
                </div> 
              </div>
              <div class="table__column">30</div>
              <div class="table__column">25</div>
              <div class="table__column">3</div>
              <div class="table__column">1</div>
              <div class="table__column">120.23</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>J P Singh</div>
                <div class="table__row">
                  <div class="match__innings__commentary">c M Singh, b J Archer</div>
                </div>
              </div>
              <div class="table__column">58</div>
              <div class="table__column">25</div>
              <div class="table__column">10</div>
              <div class="table__column">1</div>
              <div class="table__column">230.23</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>G S Parihar</div>
                <div class="table__row">
                  <div class="match__innings__commentary">b Jofra Archer</div>
                </div>
              </div>
              <div class="table__column">20</div>
              <div class="table__column">20</div>
              <div class="table__column">1</div>
              <div class="table__column">1</div>
              <div class="table__column">100</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>M Mehra</div>
                <div class="table__row">
                  <div class="match__innings__commentary">b Jofra Archer</div>
                </div>
              </div>
              <div class="table__column">20</div>
              <div class="table__column">20</div>
              <div class="table__column">1</div>
              <div class="table__column">1</div>
              <div class="table__column">100</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>A Raina</div>
                <div class="table__row">
                  <div class="match__innings__commentary">b Jofra Archer</div>
                </div>
              </div>
              <div class="table__column">20</div>
              <div class="table__column">20</div>
              <div class="table__column">1</div>
              <div class="table__column">1</div>
              <div class="table__column">100</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>C Raina</div>
                <div class="table__row">
                  <div class="match__innings__commentary">b Jofra Archer</div>
                </div>
              </div>
              <div class="table__column">20</div>
              <div class="table__column">20</div>
              <div class="table__column">1</div>
              <div class="table__column">1</div>
              <div class="table__column">100</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>P Bhatnager</div>
                <div class="table__row">
                  <div class="match__innings__commentary">b Jofra Archer</div>
                </div>
              </div>
              <div class="table__column">20</div>
              <div class="table__column">20</div>
              <div class="table__column">1</div>
              <div class="table__column">1</div>
              <div class="table__column">100</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>S Rawat</div>
                <div class="table__row">
                  <div class="match__innings__commentary">b Jofra Archer</div>
                </div>
              </div>
              <div class="table__column">20</div>
              <div class="table__column">20</div>
              <div class="table__column">1</div>
              <div class="table__column">1</div>
              <div class="table__column">100</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>K Bhatt</div>
                <div class="table__row">
                  <div class="match__innings__commentary">b Jofra Archer</div>
                </div>
              </div>
              <div class="table__column">20</div>
              <div class="table__column">20</div>
              <div class="table__column">1</div>
              <div class="table__column">1</div>
              <div class="table__column">100</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>A Singh</div>
                <div class="table__row">
                  <div class="match__innings__commentary">b Jofra Archer</div>
                </div>
              </div>
              <div class="table__column">20</div>
              <div class="table__column">20</div>
              <div class="table__column">1</div>
              <div class="table__column">1</div>
              <div class="table__column">100</div>
            </div>
            <div class="table__row">
              <div class="table__column">
                <div>D Zadoo</div>
                <div class="table__row">
                  <div class="match__innings__commentary">b Jofra Archer</div>
                </div>
              </div>
              <div class="table__column">20</div>
              <div class="table__column">20</div>
              <div class="table__column">1</div>
              <div class="table__column">1</div>
              <div class="table__column">100</div>
            </div>
          </div>
        </div>
      </div>
      <div class="match__innings__break"></div>
      <div class="match__innings">
        <div class="table">
          <div class="table__head">
            <div class="table__row">
              <div class="table__column">bowling</div>
              <div class="table__column">o</div>
              <div class="table__column">m</div>
              <div class="table__column">r</div>
              <div class="table__column">w</div>
              <div class="table__column">ec</div>
              <div class="table__column">0s</div>
              <div class="table__column">4s</div>
              <div class="table__column">6s</div>
              <div class="table__column">wd</div>
              <div class="table__column">nb</div>
            </div>
          </div>
          <div class="table__body">
            <div class="table__row">
              <div class="table__column">S Sharma</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">100</div>
              <div class="table__column">10</div>
              <div class="table__column">25.0</div>
              <div class="table__column">30</div>
              <div class="table__column">20</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
            </div>
            <div class="table__row">
              <div class="table__column">G S Parihar</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">100</div>
              <div class="table__column">10</div>
              <div class="table__column">25.0</div>
              <div class="table__column">30</div>
              <div class="table__column">20</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
            </div>
            <div class="table__row">
              <div class="table__column">M Mehra</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">100</div>
              <div class="table__column">10</div>
              <div class="table__column">25.0</div>
              <div class="table__column">30</div>
              <div class="table__column">20</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
            </div>
            <div class="table__row">
              <div class="table__column">S Rawat</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">100</div>
              <div class="table__column">10</div>
              <div class="table__column">25.0</div>
              <div class="table__column">30</div>
              <div class="table__column">20</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
            </div>
            <div class="table__row">
              <div class="table__column">P Bhatnager</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">100</div>
              <div class="table__column">10</div>
              <div class="table__column">25.0</div>
              <div class="table__column">30</div>
              <div class="table__column">20</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
              <div class="table__column">10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>