<div class="page-container__other match-detail">
  <div class="page-container__subheader">
    <h1 class="page-heading">Match detail</h1>

    <a (click)="prevUrlService.redirectToPrevUrl()" class="page-container__back button button--secondary button--back button--lift">&lsaquo;</a>
  </div>

  <div class="page-container__content">
    <div class="match">
      <div class="match__container">
        <div class="match__date">01-01-2016, 11:30AM</div> 
        <div class="match__result">
          <p>Rookie XI won by 3 wickets</p>
        </div>
        <div class="match__teams-container">
          <div class="match__my-team">
            <img class="match__team-logo match--won" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Rookie XI</div>
          </div>
          <div class="match__vs">VS</div>
          <div class="match__op-team">
            <img class="match__team-logo match--lost" src="assets/teams/1.png" alt="rookie">
            <div class="match__team-name">Tormentors XI</div>
          </div>
        </div>
      </div>
    </div>

    <div class="match__stats">
      <div class="match__innings">
        <div class="table">
          <div class="table__heading"></div>
          .table__
        </div>
      </div>
    </div>
  </div>
</div>