.add-player {
    & .page-container {
        &__content {
            align-items: center;
        }
    }
    & form {
        margin-top: 5rem;
        width: 60%;
        padding: 3rem;
        background-color: $color-white;
        box-shadow: 0 .4rem .4rem $color-gray-4;

        @include respond(phone) {
            width: 100%;
        }
    }
}