.create-team {
    & .page-container {
        &__content {
            margin-top: 2rem;
            align-items: center;
            & .form {
                margin-top: 5rem;
            }
        }   
    }
}