.edit-team {
    & .page-container {
        &__content {
            align-items: center;
        }
    }
    & .form {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .team {
        &__makers {
            flex-direction: column;

            &__item {
                margin-right: 0;
                margin-bottom: 2rem;
                &--role {
                    display: flex;
                    flex-direction: column;
                }
            }
            
        }
    }
}