<header class="container">
  <div class="header__logo">
    <p class="header__logo--part1">
      crick
    </p>
    <p class="header__logo--part2">
      cards
    </p>
  </div>
  <nav class="header__nav sidenav">
    <ul class="sidenav__container">
      <li class="sidenav__item">
        <a routerLinkActive="active" routerLink="/dashboard" class="sidenav__link">
          <svg class="sidenav__icon">
            <use xlink:href="assets/sprite.svg#icon-home"></use>
          </svg>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sidenav__item">
        <a routerLinkActive="active" routerLink="/teams" class="sidenav__link">
          <svg class="sidenav__icon">
            <use xlink:href="assets/sprite.svg#icon-users"></use>
          </svg>
          <span>Teams</span>
        </a>
      </li>
      <li class="sidenav__item">
        <a routerLinkActive="active" routerLink="/matches" class="sidenav__link">
          <svg class="sidenav__icon">
            <use xlink:href="assets/sprite.svg#icon-sports-club"></use>
          </svg>
          <span>Matches</span>
        </a>
      </li>
      <li class="sidenav__item">
        <a routerLinkActive="active" routerLink="/profile" class="sidenav__link">
          <svg class="sidenav__icon">
            <use xlink:href="assets/sprite.svg#icon-profile"></use>
          </svg>
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </nav>
</header>