<div class="page-container__other player-profile">
  <div class="page-container__subheader">
    <h1 class="page-heading">Player</h1>

    <a [routerLink]="['../']" class="page-container__close">&times;</a>
  </div>

  <div class="page-container__content">

    <div class="players__info-container">
      <img src="assets/players/manoj.jpg" alt="manoj">

      <div class="players__info-container__info">
        <h1>Manoj Mehra</h1>  
        <div class="players__info-container__labels">
          <label class="label label--warning">all-rounder</label>
          <label class="label label--danger">fast bowler</label>  
          <label class="label label--info">middle order</label> 
          <label class="label label--info">right handed batsman</label> 
          <label class="label label--info">right handed bowler</label>
        </div>  
      </div>
    </div>
    <div class="stats-container">

      <div class="stats-container__stats stats-container__stats--batting-ranking">
        <div class="stats-container__number">
          1
        </div>
        <div class="stats-container__label">
          Rank Within Team
        </div>
        <div class="stats-container__subtext stats-container__subtext--ranking">batting</div>
      </div>
      <div class="stats-container__stats stats-container__stats--bowling-ranking">
        <div class="stats-container__number">
          2
        </div>
        <div class="stats-container__label">
          Rank Within Team
        </div>
        <div class="stats-container__subtext stats-container__subtext--ranking">bowling</div>
      </div>
      <div class="stats-container__stats stats-container__stats--batting-ranking">
        <div class="stats-container__number">
          35
        </div>
        <div class="stats-container__label">
          overall rank
        </div>
        <div class="stats-container__subtext stats-container__subtext--ranking">batting</div>
      </div>
      <div class="stats-container__stats stats-container__stats--bowling-ranking">
        <div class="stats-container__number">
          72
        </div>
        <div class="stats-container__label">
          overall rank
        </div>
        <div class="stats-container__subtext stats-container__subtext--ranking">bowling</div>
      </div>

      <div class="stats-container__stats">
        <div class="stats-container__number">
          140
        </div>
        <div class="stats-container__label">
          Strike Rate
        </div>
        <div class="stats-container__subtext">batting</div>
      </div>
      <div class="stats-container__stats">
        <div class="stats-container__number">
          20
        </div>
        <div class="stats-container__label">
          matches
        </div>
        <div class="stats-container__subtext">innings</div>
      </div>
      <div class="stats-container__stats">
        <div class="stats-container__number">
          340
        </div>
        <div class="stats-container__label">
          runs
        </div>
        <div class="stats-container__subtext">batting</div>
      </div>
      <div class="stats-container__stats">
        <div class="stats-container__number">
          25
        </div>
        <div class="stats-container__label">
          wickets
        </div>
        <div class="stats-container__subtext">bowling</div>
      </div>
      <div class="stats-container__stats">
        <div class="stats-container__number">
          1
        </div>
        <div class="stats-container__label">
          catches
        </div>
        <div class="stats-container__subtext">fielding</div>
      </div>
      <div class="stats-container__stats">
        <div class="stats-container__number">
          103
        </div>
        <div class="stats-container__label">
          highest
        </div>
        <div class="stats-container__subtext">batting</div>
      </div>
      <div class="stats-container__stats">
        <div class="stats-container__number">
          5
        </div>
        <div class="stats-container__label">
          not out
        </div>
        <div class="stats-container__subtext">batting</div>
      </div>
      <div class="stats-container__stats">
        <div class="stats-container__number">
          3
        </div>
        <div class="stats-container__label">
          run outs
        </div>
        <div class="stats-container__subtext">fielding</div>
      </div>
    </div>
    <div class="page-container__top-cta">
    </div>
  </div>
</div>

<router-outlet></router-outlet>