<div class="page-container__other add-player">
  <div class="page-container__subheader">
    <h1 class="page-heading">Rookie XI</h1>

    <a (click)="prevUrlService.redirectToPrevUrl()" class="page-container__back button button--secondary button--back button--lift">&lsaquo;</a>
  </div>

  <div class="page-container__content">
    <form class="form form--raised">
      <h2 class="form__title">Add Player</h2>
      <div class="form__group">
        <input id="mobile" type="number" class="form__input" placeholder="mobile number" minlength="10" required>
        <label for="mobile" class="form__label">mobile number</label>
        <span class="form__required">*</span>
      </div>
      <div class="form__group">
        <input id="name" type="text" class="form__input" placeholder="player name" minlength="3" required>
        <label for="name" class="form__label">player name</label>
        <span class="form__required">*</span>
      </div>
      <div class="form__group">
        <input type="submit" value="Add" class="button button--primary">
      </div>
    </form>
  </div>
</div>