//main theme
$color-primary: #DBEDF3;
$color-primary-darker: #283149;
$color-primary-light: #FAFAFA;
$color-primary-dark: #E8F1F5;
$color-secondary-light: #005691;
$color-secondary-dark: #004A7C;

//colors
$color-gray-1: #F8F8F8;
$color-gray-2: #E8E8E8;
$color-gray-3: #D8D8D8;
$color-gray-4: #C8C8C8;
$color-gray-5: #888;    

$color-white: #fff;
$color-black: #000;

$color-info: #9BB4DA;
$color-success: #35C2BD;
$color-warning: #FF9F68;
$color-danger: #D02E77;

//spinner colors
$spinner-dimensions: 5rem; //width and height of spinner block 
$spinner-3-bg: $color-success; //spinner-3 background-color


//spacing
$small-gutter: 1rem;
$small-double-gutter: 2rem;