.button {
    padding: 2rem 4rem;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    color: $color-white;
    flex: 1;
    text-align: center;
    transition: all .2s;

    &__group {
        display: flex;
    }

    @include respond(gt-tab-land) {
        &:hover:not(:disabled) {
            transform: scale(1.1);
        }   
    }

    &:disabled {
        background-color: $color-gray-4;
        color: $color-gray-5;
        cursor: not-allowed;
    }

    &--primary {
        background-color: $color-success;
    }

    &--secondary {
        background-color: $color-info;
    }

    &--warning {
        background-color: $color-warning;
    }

    &--danger {
        background-color: $color-danger;
    }

    &--small {
        padding: .5rem 2rem;
        font-size: 1.2rem;
        font-weight: 700;
    }

    &--medium {
        padding: .5rem 2.5rem;
    }

    &--rounded {
        border-radius: 100rem;
    }

    &--lift {
        box-shadow: 0 .4rem .4rem $color-gray-4 ;
    }

    &--no-scale {
        &:hover {
            transform: none !important;
        }
    }
}