.header {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    text-transform: uppercase;
    //box-shadow: 0 1rem 1rem rgba($color-black, .4);
    background-color: $color-primary-darker;

    &__logo {
        letter-spacing: 1rem;
        border-bottom: 1px solid $color-gray-2;
        padding: 3rem $small-gutter;

        &--part1 {
            font-size: 2.4rem;
            margin: .5rem 0;
            font-weight: 100;
            color: $color-primary;
        }

        &--part2 {
            font-size: 4.4rem;
            margin: .5rem 0;
            font-weight: 700;
            color: $color-primary;
        }
    }

    &__nav {
        padding: 3rem $small-gutter;
    }
}