.page-heading {
    letter-spacing: .5rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 1rem;
    color: $color-secondary-light;

    display: flex;
    justify-content: center;
}