.label {
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: $color-secondary-light;
    font-weight: 700;
    border-radius: 100rem;
    position: relative;

    &__selected {
        border: 2px solid $color-success;
    }

    &__selected-remove {
        position: absolute;
        right: -.6rem;
        top: -1.2rem;
        background: #fff;
        border-radius: 100rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        border: 1px solid $color-danger;
        box-shadow: 0 .4rem .4rem $color-gray-4;
    }

    &--info {
        background-image: linear-gradient(to right bottom, $color-white, $color-info);
    }

    &--success {
        background-image: linear-gradient(to right bottom, $color-white, $color-success);
    }

    &--warning {
        background-image: linear-gradient(to right bottom, $color-white, $color-warning);
    }

    &--danger {
        background-image: linear-gradient(to right bottom, $color-white, $color-danger);
    }
}