.label {
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: $color-secondary-light;
    font-weight: 700;
    border-radius: 100rem;

    &--info {
        background-image: linear-gradient(to right bottom, $color-white, $color-info);
    }

    &--success {
        background-image: linear-gradient(to right bottom, $color-white, $color-success);
    }

    &--warning {
        background-image: linear-gradient(to right bottom, $color-white, $color-warning);
    }

    &--danger {
        background-image: linear-gradient(to right bottom, $color-white, $color-danger);
    }
}