.table {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;    
    font-size: 1.2rem;

     &__head {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $color-success;
     }

     &__head &__row {
         font-weight: 700;
     }

     &__body {
        display: flex;
        flex-direction: column;
     }

     &__body &__row:nth-child(even) {
         background-color: $color-gray-1;
     }

     &__row {
        display: flex;
        padding: 1rem .5rem;
        font-weight: 500;
        color: $color-secondary-light;
        justify-content: space-between;
     }

     &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:first-child {
            flex: 0 1 35%;
            text-align: left;
            flex-wrap: wrap;            
        }
        &:not(:first-child) {
            text-align: right;
            flex: 0 1 10%;
        }
     }

     &__column &__row {
         padding: 0;
         background-color: transparent !important;
     }
}