html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
}

.main-container {
    display: flex;
    min-height: 100vh;

    @include respond(tab-land) {
        flex-direction: column;
    }
}

.main {
    flex: 1;
}

.header, .page-container {
    border-right: 1px solid $color-gray-2;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: auto;

    &__subheader {
        display: flex;
        flex: 1;
        justify-content: center;
        position: relative;
    }


    &__first {
        flex: 1;
    }

    &__other {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-primary-light;
        width: 100%;
        padding: $small-double-gutter * 2;
        //height: 100vh;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__close {
        text-decoration: none;
        color: $color-black;
        font-size: 6rem;
        font-weight: 100;
        position: absolute;
        right: 0;
    }

    &__content {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__top-cta {
        display: flex;
        margin-top: 2rem;
        align-self: center;
        max-width: 100%;
        width: 60%;

        position: fixed;
        bottom: 0;
        & > button {
            flex: 0 0 50%;
        }
    }
}