<div class="page-container">
  <div class="page-container__first">

    <h1 class="page-heading">Teams</h1>
    <div class="center-cta">
      <div class="center-cta__container">
        <a [routerLink]='["create"]' class="button button--primary button--medium button--rounded">Create Team</a>
      </div>

      <div class="center-cta__container">
        <a [routerLink]='["requests"]' class="button button--warning button--medium button--rounded">Team Requests<span class="center-cta__count">2</span>
        </a>
      </div>          
    </div>

    <!--<div class="mainNoItemContainer">
      <div class="mainNoItemContainer mainNoItemContainer__noItemContainer">
        <h2>No teams found</h2>
      </div>
    </div>-->
    
    <div *ngFor="let team of teams" class="team">
      <a [routerLink]="[team._id]">
        <div class="team__logo">
          <img src="assets/teams/1.png" alt="{{team.name}}">
        </div>

        <div class="team__info">
          <div class="team__name">{{team.name}}</div>
          <div class="team__created-on">03-03-2016</div>
          <p class="team__text-cta">view</p>
        </div>
      </a>
    </div>

  </div>
  
  <router-outlet></router-outlet>
</div>