<div class="page-container__other team-requests">
  <div class="page-container__subheader">
    <h1 class="page-heading">team requests</h1>

    <a (click)="prevUrlService.redirectToPrevUrl()" class="page-container__back button button--secondary button--back button--lift">&lsaquo;</a>
  </div>

  <div class="page-container__content">
    <div class="requests">
      <div class="request">
        <div class="request__title">join team</div>

        <div class="request__block">
          <div class="request__label">team name</div>
          <div class="request__for">
            <img src="assets/teams/1.png" alt="rookie xi">
            <span class="request__name">rookie xi</span>
          </div>
        </div>

        <div class="request__info">
          <div class="request__block">
            <div class="request__label">requested by</div>
            <div class="request__sender">
              <img class="request__sender__image" src="assets/players/govind.jpg" alt="govind">
              <span class="request__sender__name">Govind Singh Parihar</span>
            </div>
          </div>
          <div class="request__block">
            <div class="request__label">requested on</div>
            <div class="request__date">03-03-2016</div>
          </div>
          <div class="request__cta-container">
            <button class="button button--secondary">accept</button>
            <button class="button button--danger">decline</button>
          </div>
        </div>
      </div>
  </div>
  <div class="requests">
      <div class="request">
        <div class="request__title">join team</div>

        <div class="request__block">
          <div class="request__label">team name</div>
          <div class="request__for">
            <img src="assets/teams/1.png" alt="rookie xi">
            <span class="request__name">rookie xi</span>
          </div>
        </div>

        <div class="request__info">
          <div class="request__block">
            <div class="request__label">requested by</div>
            <div class="request__sender">
              <img class="request__sender__image" src="assets/players/govind.jpg" alt="govind">
              <span class="request__sender__name">Govind Singh Parihar</span>
            </div>
          </div>
          <div class="request__block">
            <div class="request__label">requested on</div>
            <div class="request__date">03-03-2016</div>
          </div>
          <div class="request__cta-container">
            <button class="button button--secondary">accept</button>
            <button class="button button--danger">decline</button>
          </div>
        </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>